$c-main-title:#000000;
$c-main-subtitle:#7B7B7B;
$c-main-text:#565656;
$c-white:#fff;
$c-light-gray:#F4F4F4;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
}

ul {
list-style: none;
}

a {
    text-decoration: none;   
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 95%;
}

h2{
    font-size: inherit;
}

.link {
    color: inherit;
    display: block;
}