

.social-icons{

    &__items {
        border-radius: 50%;
        border: 1px solid #CCCCCC;
        background: white;
        width: 30px;
        height: 30px;
        position: relative;
        @include flex-center;
        justify-content: center;
    }

    &__items:hover{
        cursor: pointer;
        border: 1px solid $c-main;
    }

    &__items:hover &__item{
        fill: $c-main !important;
    }

    &__items + &__items{
       margin-left: 5px;
    }

    &__item {             
        height: 12px;
        fill:#CCCCCC;
    }
}

