@import './mixin';

$c-gold: #FFCC00;
$c-main:#666666;
$c-parag:#333333;
$c-dark-gray:#898F8F;
$container-width:1170px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    color: var(--c-main-text);
}

a {
    text-decoration: none;
}

ul,li{
    list-style: none;  
}

img {
    vertical-align: top;
}

.container{
    width: $container-width;
    margin: 0 auto;
    max-width: 98%;
}
