.blog-information {
    &__subtitle {
        font-family: 'latoregular';
        font-size: 16px;
        line-height: 26.56px;
        letter-spacing: 0.1em;
        color: $c-main-subtitle;
        margin-bottom: 30px;
    }

    &__title {
        font-family: 'RedHat-Medium';
        font-size: 23px;
        line-height: 38px;
        letter-spacing: 0.1em;
        color: $c-main-title;
        margin-bottom: 15px;
        max-width: 369px;

    }

    &__date-published{
        font-family: 'latoregular';
        font-size: 16px;
        line-height: 26.56px;
        letter-spacing: 0.1em;
        color: $c-main-subtitle;
        margin-bottom: 50px;
    }

    &__text{
        max-width: 448px;
        font-family: 'latoregular';
        font-size: 16px;
        line-height: 26.56px;
        letter-spacing: 0.05em;
        color: $c-main-text;
        
    }

    
}