.header {

    &__wrapper{
        @include flex-between;
        padding: 44px 0;   

        @include breakpoint() {
            flex-direction: column;
            padding: 10px 0;   
        }
    }

    &__logo{
        width: 145px;

        @include breakpoint('xl') {
            margin: 0 auto;
            margin-bottom: 15px;
        }
    }
    
    &__logo a{
        display: block;
            max-width: 141px;
    }

    &__logo-svg, &__search-svg{
        height: 18px;
        width: 100%;
    }

    &__search{
        width: 17px;
    }
    
    &__search-svg {
        padding-top: 2px;
    }
}
