.header {

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 44px 0;
    }

    &__logo{
        max-width: 141px;
    }
    
    &__logo a{
        display: block;
            max-width: 141px;
    }

    &__logo-svg, &__search-svg{
        height: 18px;
        width: 100%;
    }

    &__search{
        width: 17px;
    }
    
    &__search-svg {
        padding-top: 2px;
    }
}
