.latest-posts{
    margin-bottom: 90px;

    &__header{
        
    }
    &__view-all{
    
   }

   &__list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:30px;
   }

}

