.most-popular{
    margin-bottom: 90px;
    
    &__list{
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
    }

    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}