.nav-menu{
    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: auto;
    }

    &__item {
        font-family: serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
    }

    &__item:not(:last-child){
        margin-right: 42px;
    }

    
}