* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
}

h1, h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.container {
    max-width: 98%;
    width: 970px;
    margin: 0 auto;

}

.nav_menu {
    display: flex;
    list-style: none;
    padding: 27.5px 0;
    letter-spacing: 0.02em;    
    justify-content: center;
    border-bottom: 1px solid #828282;
}

.nav_menu li {
    padding: 0 20px;
}

.nav_menu li a{
    text-decoration:none;
    color: #828282;
}
 
.nav_menu li a:active{
    color: #070707;  
}

#main {
    margin-top: 12px;
}


h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.26;
}

h2{
    font-size: 34px;
}
.name {    
    margin-bottom: 50px;
}

.about_me {
    width: 100%;
    background: #F6F6F6;
    background-size: cover;
    
}
.about_me_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
} 




.skill-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}