.our-team {
    padding: 121px 0;
        
    &__wrapper{
    margin-bottom: 40px;
        
    }
    &__wrapper::after{
        content: "";
        background: url(../../assets/img/Line-1.svg) 360px center no-repeat, url(../../assets/img/bonfire-sharp-1.svg) 575px center no-repeat, url(../../assets/img/Line-2.svg) 600px center no-repeat;
        display: inline-block;
        width: 100%;
        height: 20px;

        }

    &__title-content{
        padding-bottom: 40px;
    }

    &__subtitle {
        font-family: 'ralewaymedium';
        font-size: 18px;
        line-height: 24px;
        color: $c-dark-gray;
        margin-bottom: 15px;
        text-transform: uppercase;
        text-align: center;
        display: block;
    }

    &__title{
        font-family: 'robotomedium';
        font-size: 60px;
        line-height: 66px;
        color: $c-gold;
        text-transform: uppercase;
        text-align: center;
    }
}