.section-header{
    font-family: 'RedHat-Regular';
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: $c-main-title;
    margin-bottom: 50px;    
    display: flex;
    justify-content: space-between;
    align-items: center;    
}